<div class="container post">
  <div class="row">
    <div class="col-sm-1">
      <img
        class="post__av"
        [src]="post?.feedIcon"
      >
    </div>
    <div class="col-sm-9">
      <div class="row">
        <h3 class="post__title">{{ post?.signText }}</h3>
      </div>
      <div class="row">
        <!-- TODO Will need to move to separate component when we include bowl-link functionality  -->
        <a class="post__feed-link">
          <span>
            ▸
          </span>
          <h3>{{ post?.feedName }}</h3>
        </a>
      </div>
    </div>
    <div class="col-sm-2 post__time-since">
      <!-- TODO add share menu on click -->
      {{ post?.dateSinceNowHM }}
      <img src="assets/icons/arrow-down-grey-18.svg" alt="arrow-down">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11 offset-sm-1">
      <ng-container *ngIf="post?.messageType === 1 ; else textOnly">
        <img
          [ngStyle]="{
            'width.px': post?.messageData?.width,
            'height.px' : post?.messageData?.height
          }"
          [src]="post?.messageData?.url"
          [alt]="post?.messageData?.text"
        >
      </ng-container>
      <ng-template #textOnly>
        <p>{{ post?.text }}</p>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11 offset-sm-1">
      <!-- TODO Think how to solve without '||'
      Catch quite weird TS error -->
      <app-reaction-count
        [reactions]="post?.reactionCountersToShow || []"
        [reactionsCount]="post?.reactionsCount || 0"
      ></app-reaction-count>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11 offset-sm-1">
      
    </div>
  </div>
</div>