<div class="feed">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xl-6 offset-xl-3">
        <div
          *ngIf="cards$ | async as cards"
          infinite-scroll 
          (scrolled)="onScrollDown($event)" 
        >
          <ng-container 
            *ngFor="let card of cards; trackBy: trackByPostId"
          >
            <ng-container *ngIf="card.cardType === ICardType.Post; else metaCard">
              <app-post-card  
                [post]="card"
              ></app-post-card>
            </ng-container>

            <ng-template #metaCard>
              <app-meta-card
                [meta]="card"
              ></app-meta-card>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>