
.meta-card {
  border-radius: 1.25rem;
  margin: .3125rem 0;
  padding: .625rem;

  &__title h3 {
    font-size: 1.125rem;
    cursor: pointer;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    overflow-wrap: break-word;
  }

  &__text {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.3125rem;
  }
}